<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:task="http://www.springframework.org/schema/task"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

	<task:scheduler id="scheduler" pool-size="2" />

	<task:scheduled-tasks scheduler="scheduler">

		<task:scheduled ref="taskServiceImpl" method="setContractPrice" initial-delay="0" fixed-delay="3600000" />

		<task:scheduled ref="taskServiceImpl" method="setOrderQuantity" cron="0 0 0/1 * * ?" />

		<task:scheduled ref="taskServiceImpl" method="deleteUnPayOrder" cron= "0 0 0 * * ?" />

		<task:scheduled ref="taskServiceImpl" method="updateBatchShopLocation" cron= "0 23 23 * * ?" />

		<task:scheduled ref="taskServiceImpl" method="remindDrivers" cron="0 0/5 8-19 * * ?"/>

		<task:scheduled ref="deliverOrderTaskService" method="orderAllocation" cron="0 0/1 * * * ?"/>

		<task:scheduled ref="deliverOrderTaskService" method="settleShopPay" cron="0 0/5  * * * ?" />

		<task:scheduled ref="deliverOrderTaskService" method="checkTimeOutOrder" cron="0 0/1 * * * ? "></task:scheduled>

	</task:scheduled-tasks>

</beans>
