<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    <dubbo:application name="deliver-service"/>
    <dubbo:registry address="${dubbo.registry.address}" check="false" />

    <!-- 扫描注解包路径，多个包用逗号分隔，不填pacakge表示扫描当前ApplicationContext中所有的类 -->
    <!--<dubbo:annotation package="com.bx.ant.controller" />-->
    <dubbo:consumer check="false" />
    <dubbo:reference id="shopDeliverAccountService" interface="com.bx.ant.service.ShopDeliverAccountServiceI" url="${dubbo.direct.url}"/>
    <dubbo:reference id="shopDeliverApplyService" interface="com.bx.ant.service.ShopDeliverApplyServiceI" url="${dubbo.direct.url}"/>
    <dubbo:reference id="deliverOrderService" interface="com.bx.ant.service.DeliverOrderServiceI" url="${dubbo.direct.url}"/>
    <dubbo:reference id="deliverOrderAllocationService" interface="com.bx.ant.service.DeliverOrderAllocationServiceI" retries="0" timeout="60000" url="${dubbo.direct.url}"/>
    <dubbo:reference id="deliverOrderYouzanService" interface="com.bx.ant.service.DeliverOrderYouzanServiceI" retries="0" url="${dubbo.direct.url}"/>
    <dubbo:reference id="supplierService" interface="com.bx.ant.service.SupplierServiceI" url="${dubbo.direct.url}"/>
    <dubbo:reference id="supplierItemRelationService" interface="com.bx.ant.service.SupplierItemRelationServiceI" url="${dubbo.direct.url}"/>
    <dubbo:reference id="driverOrderShopAllocationService" interface="com.bx.ant.service.DriverOrderShopAllocationServiceI" url="${dubbo.direct.url}"/>
    <dubbo:reference id="driverFreightRuleService" interface="com.bx.ant.service.DriverFreightRuleServiceI" url="${dubbo.direct.url}"/>

    <dubbo:reference id="deliverOrderShopService" interface="com.bx.ant.service.DeliverOrderShopServiceI" url="${dubbo.direct.url}"/>
    <dubbo:reference id="deliverOrderShopItemService" interface="com.bx.ant.service.DeliverOrderShopItemServiceI" url="${dubbo.direct.url}"/>
    <dubbo:reference id="deliverOrderLogService" interface="com.bx.ant.service.DeliverOrderLogServiceI" url="${dubbo.direct.url}"/>
    <dubbo:reference id="deliverOrderItemService" interface="com.bx.ant.service.DeliverOrderItemServiceI" url="${dubbo.direct.url}"/>
    <dubbo:reference id="supplierOrderBillService" interface="com.bx.ant.service.SupplierOrderBillServiceI" url="${dubbo.direct.url}"/>
    <dubbo:reference id="deliverOrderPayService" interface="com.bx.ant.service.DeliverOrderPayServiceI" url="${dubbo.direct.url}"/>
    <dubbo:reference id="shopOrderBillService" interface="com.bx.ant.service.ShopOrderBillServiceI" url="${dubbo.direct.url}"/>
    <dubbo:reference id="deliverOrderShopPayService" interface="com.bx.ant.service.DeliverOrderShopPayServiceI" url="${dubbo.direct.url}"/>
    <dubbo:reference id="shopItemService" interface="com.bx.ant.service.ShopItemServiceI" url="${dubbo.direct.url}"/>


    <dubbo:reference  id="driverAccountService" interface="com.bx.ant.service.DriverAccountServiceI" url="${dubbo.direct.url}"/>
    <dubbo:reference  id="driverOrderShopService" interface="com.bx.ant.service.DriverOrderShopServiceI" url="${dubbo.direct.url}"/>
    <dubbo:reference  id="driverOrderShopBillService" interface="com.bx.ant.service.DriverOrderShopBillServiceI" url="${dubbo.direct.url}"/>
    <dubbo:reference  id="driverOrderPayService" interface="com.bx.ant.service.DriverOrderPayServiceI" url="${dubbo.direct.url}"/>
</beans>