<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
       <dubbo:application name="deliver-service" />
       <dubbo:registry address="${dubbo.registry.address}" check="false" register="${dubbo.registry.registry}"/>
       <dubbo:consumer check="false" timeout="6000"/>

       <!-- 扫描注解包路径，多个包用逗号分隔，不填pacakge表示扫描当前ApplicationContext中所有的类 -->
       <!--<dubbo:annotation package="com.bx.ant.controller" />-->

       <dubbo:reference id="mbShopService" interface="com.mobian.service.MbShopServiceI" url="${dubbo.direct.url}"/>
       <dubbo:reference id="basedataService" interface="com.mobian.service.BasedataServiceI" url="${dubbo.direct.url}"/>
       <dubbo:reference id="mbItemService" interface="com.mobian.service.MbItemServiceI" url="${dubbo.direct.url}"/>
       <dubbo:reference id="mbBalanceLogService" interface="com.mobian.service.MbBalanceLogServiceI" url="${dubbo.direct.url}"/>
       <dubbo:reference id="mbBalanceService" interface="com.mobian.service.MbBalanceServiceI" url="${dubbo.direct.url}"/>
       <dubbo:reference id="userService" interface="com.mobian.service.UserServiceI" url="${dubbo.direct.url}"/>
       <dubbo:reference id="mbWithdrawLogService" interface="com.mobian.service.MbWithdrawLogServiceI" url="${dubbo.direct.url}"/>
       <dubbo:reference id="diveRegionService" interface="com.mobian.service.DiveRegionServiceI" url="${dubbo.direct.url}"/>
       <dubbo:reference id="mbContractService" interface="com.mobian.service.MbContractServiceI" url="${dubbo.direct.url}"/>
       <dubbo:reference id="mbContractItemService" interface="com.mobian.service.MbContractItemServiceI" url="${dubbo.direct.url}"/>

       <!-- 用dubbo协议在20880端口暴露服务 -->
       <dubbo:protocol name="${dubbo.protocol.name}" port="${dubbo.protocol.port}" />
       <!-- 延迟到Spring初始化完成后，再暴露服务,服务调用超时设置为6秒,超时不重试-->
       <dubbo:provider delay="-1" timeout="6000" retries="0"/>
       <dubbo:service interface="com.bx.ant.service.ShopDeliverAccountServiceI" ref="shopDeliverAccountServiceImpl" protocol="dubbo"/>
       <dubbo:service interface="com.bx.ant.service.ShopDeliverApplyServiceI" ref="shopDeliverApplyServiceImpl" protocol="dubbo"/>
       <dubbo:service interface="com.bx.ant.service.DeliverOrderServiceI" ref="deliverOrderServiceImpl" protocol="dubbo"/>
       <dubbo:service interface="com.bx.ant.service.DeliverOrderAllocationServiceI" ref="deliverOrderAllocationServiceImpl" protocol="dubbo"/>
       <dubbo:service interface="com.bx.ant.service.DriverOrderShopAllocationServiceI" ref="driverOrderShopAllocationServiceImpl" protocol="dubbo" />
       <dubbo:service interface="com.bx.ant.service.DeliverOrderYouzanServiceI" ref="deliverOrderYouzanServiceImpl" protocol="dubbo"/>
       <dubbo:service interface="com.bx.ant.service.SupplierServiceI" ref="supplierServiceImpl" protocol="dubbo"/>
       <dubbo:service interface="com.bx.ant.service.SupplierItemRelationServiceI" ref="supplierItemRelationServiceImpl" protocol="dubbo"/>

       <dubbo:service interface="com.bx.ant.service.DeliverOrderShopServiceI" ref="deliverOrderShopServiceImpl" protocol="dubbo"/>
       <dubbo:service interface="com.bx.ant.service.DeliverOrderShopItemServiceI" ref="deliverOrderShopItemServiceImpl" protocol="dubbo"/>
       <dubbo:service interface="com.bx.ant.service.DeliverOrderLogServiceI" ref="deliverOrderLogServiceImpl" protocol="dubbo"/>
       <dubbo:service interface="com.bx.ant.service.DeliverOrderItemServiceI" ref="deliverOrderItemServiceImpl" protocol="dubbo"/>
       <dubbo:service interface="com.bx.ant.service.SupplierOrderBillServiceI" ref="supplierOrderBillServiceImpl" protocol="dubbo"/>
       <dubbo:service interface="com.bx.ant.service.DeliverOrderPayServiceI" ref="deliverOrderPayServiceImpl" protocol="dubbo"/>
       <dubbo:service interface="com.bx.ant.service.ShopOrderBillServiceI" ref="shopOrderBillServiceImpl" protocol="dubbo"/>
       <dubbo:service interface="com.bx.ant.service.DeliverOrderShopPayServiceI" ref="deliverOrderShopPayServiceImpl" protocol="dubbo"/>
       <dubbo:service interface="com.bx.ant.service.ShopItemServiceI" ref="shopItemServiceImpl" protocol="dubbo"/>
       <dubbo:service interface="com.bx.ant.service.DriverAccountServiceI" ref="driverAccountServiceImpl" protocol="dubbo"/>
       <dubbo:service interface="com.bx.ant.service.DriverOrderShopServiceI" ref="driverOrderShopServiceImpl" protocol="dubbo"/>
       <dubbo:service interface="com.bx.ant.service.DriverOrderShopBillServiceI" ref="driverOrderShopBillServiceImpl" protocol="dubbo"/>
       <dubbo:service interface="com.bx.ant.service.DriverFreightRuleServiceI" ref="driverFreightRuleServiceImpl" protocol="dubbo"/>
       <dubbo:service interface="com.bx.ant.service.DriverOrderPayServiceI" ref="driverOrderPayServiceImpl" protocol="dubbo"/>
       <dubbo:service interface="com.bx.ant.service.SupplierInterfaceConfigServiceI" ref="supplierInterfaceConfigServiceImpl" protocol="dubbo"/>
</beans>