<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
       <dubbo:application name="deliver-service" />
       <dubbo:registry address="${dubbo.registry.address}" />

       <!-- 扫描注解包路径，多个包用逗号分隔，不填pacakge表示扫描当前ApplicationContext中所有的类 -->
       <!--<dubbo:annotation package="com.bx.ant.controller" />-->

       <dubbo:reference id="mbShopService" interface="com.mobian.service.MbShopServiceI"/>
       <dubbo:reference id="basedataService" interface="com.mobian.service.BasedataServiceI"/>
       <dubbo:reference id="mbItemService" interface="com.mobian.service.MbItemServiceI"/>
       <dubbo:reference id="mbBalanceLogService" interface="com.mobian.service.MbBalanceLogServiceI"/>
       <dubbo:reference id="mbBalanceService" interface="com.mobian.service.MbBalanceServiceI"/>

       <!-- 用dubbo协议在20880端口暴露服务 -->
       <dubbo:protocol name="${dubbo.protocol.name}" port="${dubbo.protocol.port}" />
       <dubbo:service interface="com.bx.ant.service.ShopDeliverAccountServiceI" ref="shopDeliverAccountServiceImpl" protocol="dubbo"/>
       <dubbo:service interface="com.bx.ant.service.ShopDeliverApplyServiceI" ref="shopDeliverApplyServiceImpl" protocol="dubbo"/>
       <dubbo:service interface="com.bx.ant.service.DeliverOrderServiceI" ref="deliverOrderServiceImpl" protocol="dubbo"/>
       <dubbo:service interface="com.bx.ant.service.DeliverOrderAllocationServiceI" ref="deliverOrderAllocationServiceImpl" protocol="dubbo"/>

</beans>