<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
       <!--定义了提供方应用信息，用于计算依赖关系；在 dubbo-admin 或 dubbo-monitor 会显示这个名字，方便辨识-->
       <dubbo:application name="merchant" owner="programmer" organization="dubbox"/>
       <!--使用 redis 注册中心暴露服务，注意要先开启 redis-->
       <dubbo:registry address="${dubbo.registry.address}" check="false"/>
       <!--<dubbo:registry protocol="redis" address="114.55.59.141:6379" />-->
<!--
       <dubbo:registry address="127.0.0.1:9090" />
-->
       <!-- 用dubbo协议在20880端口暴露服务 -->
       <dubbo:protocol name="${dubbo.protocol.name}" port="${dubbo.protocol.port}" />
       <!-- 延迟到Spring初始化完成后，再暴露服务,服务调用超时设置为6秒,超时不重试-->
       <dubbo:provider delay="-1" timeout="6000" retries="0"/>
       <!--使用 dubbo 协议实现定义好的 api.PermissionService 接口-->
       <dubbo:service interface="com.mobian.service.MbShopServiceI" ref="mbShopServiceImpl" protocol="dubbo"/>

       <dubbo:service interface="com.mobian.service.BasedataServiceI" ref="basedataServiceImpl" protocol="dubbo"/>

       <dubbo:service interface="com.mobian.service.BasetypeServiceI" ref="basetypeServiceImpl" protocol="dubbo"/>

       <dubbo:service interface="com.mobian.service.DiveRegionServiceI" ref="diveRegionServiceImpl" protocol="dubbo"/>

       <dubbo:service interface="com.mobian.service.MbItemServiceI" ref="mbItemServiceImpl" protocol="dubbo"/>

       <dubbo:service interface="com.mobian.service.MbBalanceLogServiceI" ref="mbBalanceLogServiceImpl" protocol="dubbo"/>

       <dubbo:service interface="com.mobian.service.MbBalanceServiceI" ref="mbBalanceServiceImpl" protocol="dubbo"/>

       <dubbo:service interface="com.mobian.service.UserServiceI" ref="userServiceImpl" protocol="dubbo"/>

</beans>